<div id="navBar">
  <div>
    <img src="/images/logo_wb.png"/>    
  </div>
  <div>
  	<img src="/images/logo_ra.png"/>
  </div>
  <div>
  </div>
  <div>
    <img src="/images/logo-black.png"/>          
  </div>        
</div>