<!DOCTYPE html>
 <html>
  <head>    
    <title>WSF-3D</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
        
  </head>
  <body>
    
    <div id="wrapper" >
      <% include navbar.ejs %>

      <% include headerbar.ejs %>
      
      <% include task_core.ejs %>

    </div>    
   
  </body>
</html>