<link rel='stylesheet' href='/stylesheets/task.css' />

<div id="swImageContainer">
	<canvas id = "image-canvas"></canvas>
</div>

<div id="prompt"></div>

<div id="buttons"></div>

<script src="/javascripts/Functions.js"></script>
<script src="/javascripts/TaskLogic.js"></script>